@using IMS.CoreBusiness
@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<div class="input-group mb-3">
    <input type="text"
           class="form-control form-control-lg"
           placeholder="Type inventory name here to search"
           @bind-value="inventoryNameToSearch"/>
    <button type="button" class="input-group-text btn-success"
            @onclick="@(async ()=> { await ViewInventories(); } )">View</button>
</div>
<br />


@code {

    private string? inventoryNameToSearch;

    [Parameter]
    public EventCallback<List<Inventory>> OnSearchInventories{ get; set; }

    private async Task ViewInventories()
    {
        var inventories = (await ViewInventoriesByNameUseCase
            .ExecuteAsync(inventoryNameToSearch??string.Empty))?.ToList();

        await OnSearchInventories.InvokeAsync(inventories);
    }

}

