@page "/"

<div style="display:block; width:50%; margin: 0 auto">
    <br /><br /><br /><br />
    <h1 style="font-size: 60px">Inventory Management System</h1>
    <br />
    <div style="width:600px; font-size: 30px; margin-left: 50px">
        Simple inventory management system.
    </div>
    <br /><br /><br /><br /><br /><br />
</div>