@page "/"

<div style="display:block; width:50%; margin: 0 auto">
    <br /><br /><br /><br />
    <h1 style="font-size: 40px">Inventory Management System</h1>
    <div style="width:600px; font-size: 30px; margin-left: 50px">
        Simple inventory management system.
        <br />
        <div class="container" style="margin-left: 50px">
            <p>
                <a href="https://github.com/paullstanley/IMS.WebApp"><img src="/images/GitHub-Mark-120px-plus.png" /></a>
                <br />
                Curious how this was made?
                <br />
                <a href="https://github.com/paullstanley/IMS.WebApp">Check out the source code</a>
            </p>
        </div>

    </div>
   
    <br /><br /><br /><br /><br /><br />
</div>