@page "/inventories"

<h3>Inventory List</h3>
<br />
<ViewInventoriesComponent OnSearchInventories="OnSearchInventories"></ViewInventoriesComponent>

@if (listInventories != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var inv in this.listInventories)
                {
                    <tr>
                        <td>@inv.InventoryName</td>
                        <td>@inv.Quantity</td>
                        <td>@inv.Price.ToString("c")</td>
                        <td>
                            <button type="button" class="btn btn-light">Edit</button>
                        </td>
                    </tr>
                }
                    </tbody>
                </table>
            }

@code {
    private List<Inventory> listInventories;

    private void OnSearchInventories(List<Inventory> inventories)
    {
        listInventories = inventories;
    }

}

